<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lista Campos do Jordão</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Lista de empresas e comércios em Campos do Jordão" />
	<meta name="keywords" content="lista de empresas, campos do jordão, lista telefonica" />
	<meta name="author" content="freehtml5.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="Lista Campos"/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content="listacampos.com.br"/>
	<meta property="og:site_name" content="Lista Campos"/>
	<meta property="og:description" content="Lista de empresas e comércios em Campos do Jordão"/>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111819134-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-111819134-1');
	</script>
	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icons Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container-wrap">
			<div class="top-menu">
				<div class="row">
					<div class="col-xs-12">
						<div id="fh5co-logo">
							<a href="index.html"><img class="logo-main" src="images/logo.png"></a>
						</div>
					</div>
					<div class="col-xs-12 text-center">
						<div class="col-xs-12">
							<div class="form-group wpr-search">
								<input type="text" class="form-control search-input" placeholder="Digite aqui empresas, produtos ou serviços">
								<a href="#" title="pesquisar" class="search-bar"> 
									<span class="icon-search"></span> &nbsp;  Pesquisar  
								</a>
							</div>
						</div>
					</div>
					<div class="col-xs-12 h-30"></div>
					<div class="col-xs-12 text-center menu-1">
						<ul>
							<li class="active"><a href="index.html">Início</a></li>
							<li><a href="categoria.html">Alimentos</a></li>
							<li><a href="categoria.html">Compras</a></li>
							<li><a href="categoria.html">Educação</a></li>
							<li><a href="categoria.html">Saúde</a></li>
							<li><a href="categoria.html">Veículos</a></li>
							<li><a href="categoria.html">Utilidade pública</a></li>
							<li><a href="categoria.html">Serviços</a></li>
						</ul>
					</div>
					<div class="col-xs-12 h-30"></div>
				</div>
				
			</div>
		</div>
	</nav>

	<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(images/procure.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
				   				<div class="slider-text-inner">
				   					<h1>Encontre aqui tudo o que<br>você procura!</h1>
										<h2>Veja todas as categorias:</h2>
										<p><a class="btn btn-primary btn-demo" href="#"></i>Ver todos</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(images/mapa.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
				   				<div class="slider-text-inner">
				   					<h1>Campos do Jordão em suas mãos</h1>
										<h2>Veja as empresas em destaque</h2>
										<p><a class="btn btn-primary btn-demo" href="#"></i> Empresas em destaque</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(images/banner-2-1500-1000.jpeg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
				   				<div class="slider-text-inner">
				   					<h1>Lhotse Comunicação & Marketing</h1>
										<h2>A vista do cume de uma montanha ajuda muito a ampliar os conceitos!</h2>
										<p><a class="btn btn-primary btn-demo" href="#"></i>Veja mais</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	   	
			  	</ul>
		  	</div>
		</aside>
		

		<div id="fh5co-work" class="fh5co-light-grey">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h1>EMPRESAS</h1>
					<p>Veja abaixo algumas empresas de destaque em Campos do Jordão!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<a href="perfil.html" class="work"  style="/*background-image: url(images/portfolio-1.jpg);*/">
						<div class="desc">
							<h4 class="see-all-info"> <i class="icon-plus"></i> Mais informações</h4>
						</div>
						<div class="icon-work">
							<img src="images/portfolio-6.jpg">
						</div>
						<div class="info-work">
							<h4>Drogaria Santo Antonio</h4>
							<p>
								<span class="icon-work-info"><i class="icon-location"></i></span>
								<span class="text-work-info">Av. Dr. Januário Miraglia, 998 - Abernéssia, Campos do Jordão - SP</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-phone-hang-up"></i></span>
								<span class="text-work-info">(12) 3664-0000</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-bookmark"></i></span>
								<span class="text-work-info">Saúde > Farmácia</span>
							</p>
						</div>
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<a href="perfil.html" class="work"  style="/*background-image: url(images/portfolio-1.jpg);*/">
						<div class="desc">
							<h4 class="see-all-info"> <i class="icon-plus"></i> Mais informações</h4>
						</div>
						<div class="icon-work">
							<img src="images/portfolio-6.jpg">
						</div>
						<div class="info-work">
							<h4>Drogaria Santo Antonio</h4>
							<p>
								<span class="icon-work-info"><i class="icon-location"></i></span>
								<span class="text-work-info">Av. Dr. Januário Miraglia, 998 - Abernéssia, Campos do Jordão - SP</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-phone-hang-up"></i></span>
								<span class="text-work-info">(12) 3664-0000</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-bookmark"></i></span>
								<span class="text-work-info">Saúde > Farmácia</span>
							</p>
						</div>
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<a href="perfil.html" class="work"  style="/*background-image: url(images/portfolio-1.jpg);*/">
						<div class="desc">
							<h4 class="see-all-info"> <i class="icon-plus"></i> Mais informações</h4>
						</div>
						<div class="icon-work">
							<img src="images/portfolio-6.jpg">
						</div>
						<div class="info-work">
							<h4>Drogaria Santo Antonio</h4>
							<p>
								<span class="icon-work-info"><i class="icon-location"></i></span>
								<span class="text-work-info">Av. Dr. Januário Miraglia, 998 - Abernéssia, Campos do Jordão - SP</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-phone-hang-up"></i></span>
								<span class="text-work-info">(12) 3664-0000</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-bookmark"></i></span>
								<span class="text-work-info">Saúde > Farmácia</span>
							</p>
						</div>

					</a>
				</div>
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<a href="perfil.html" class="work"  style="/*background-image: url(images/portfolio-1.jpg);*/">
						<div class="desc">
							<h4 class="see-all-info"> <i class="icon-plus"></i> Mais informações</h4>
						</div>
						<div class="icon-work">
							<img src="images/portfolio-6.jpg">
						</div>
						<div class="info-work">
							<h4>Drogaria Santo Antonio</h4>
							<p>
								<span class="icon-work-info"><i class="icon-location"></i></span>
								<span class="text-work-info">Av. Dr. Januário Miraglia, 998 - Abernéssia, Campos do Jordão - SP</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-phone-hang-up"></i></span>
								<span class="text-work-info">(12) 3664-0000</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-bookmark"></i></span>
								<span class="text-work-info">Saúde > Farmácia</span>
							</p>
						</div>
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<a href="perfil.html" class="work"  style="/*background-image: url(images/portfolio-1.jpg);*/">
						<div class="desc">
							<h4 class="see-all-info"> <i class="icon-plus"></i> Mais informações</h4>
						</div>
						<div class="icon-work">
							<img src="images/portfolio-6.jpg">
						</div>
						<div class="info-work">
							<h4>Drogaria Santo Antonio</h4>
							<p>
								<span class="icon-work-info"><i class="icon-location"></i></span>
								<span class="text-work-info">Av. Dr. Januário Miraglia, 998 - Abernéssia, Campos do Jordão - SP</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-phone-hang-up"></i></span>
								<span class="text-work-info">(12) 3664-0000</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-bookmark"></i></span>
								<span class="text-work-info">Saúde > Farmácia</span>
							</p>
						</div>
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<a href="perfil.html" class="work"  style="/*background-image: url(images/portfolio-1.jpg);*/">
						<div class="desc">
							<h4 class="see-all-info"> <i class="icon-plus"></i> Mais informações</h4>
						</div>
						<div class="icon-work">
							<img src="images/portfolio-6.jpg">
						</div>
						<div class="info-work">
							<h4>Drogaria Santo Antonio</h4>
							<p>
								<span class="icon-work-info"><i class="icon-location"></i></span>
								<span class="text-work-info">Av. Dr. Januário Miraglia, 998 - Abernéssia, Campos do Jordão - SP</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-phone-hang-up"></i></span>
								<span class="text-work-info">(12) 3664-0000</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-bookmark"></i></span>
								<span class="text-work-info">Saúde > Farmácia</span>
							</p>
						</div>

					</a>
				</div>
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<a href="perfil.html" class="work"  style="/*background-image: url(images/portfolio-1.jpg);*/">
						<div class="desc">
							<h4 class="see-all-info"> <i class="icon-plus"></i> Mais informações</h4>
						</div>
						<div class="icon-work">
							<img src="images/portfolio-6.jpg">
						</div>
						<div class="info-work">
							<h4>Drogaria Santo Antonio</h4>
							<p>
								<span class="icon-work-info"><i class="icon-location"></i></span>
								<span class="text-work-info">Av. Dr. Januário Miraglia, 998 - Abernéssia, Campos do Jordão - SP</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-phone-hang-up"></i></span>
								<span class="text-work-info">(12) 3664-0000</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-bookmark"></i></span>
								<span class="text-work-info">Saúde > Farmácia</span>
							</p>
						</div>
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<a href="perfil.html" class="work"  style="/*background-image: url(images/portfolio-1.jpg);*/">
						<div class="desc">
							<h4 class="see-all-info"> <i class="icon-plus"></i> Mais informações</h4>
						</div>
						<div class="icon-work">
							<img src="images/portfolio-6.jpg">
						</div>
						<div class="info-work">
							<h4>Drogaria Santo Antonio</h4>
							<p>
								<span class="icon-work-info"><i class="icon-location"></i></span>
								<span class="text-work-info">Av. Dr. Januário Miraglia, 998 - Abernéssia, Campos do Jordão - SP</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-phone-hang-up"></i></span>
								<span class="text-work-info">(12) 3664-0000</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-bookmark"></i></span>
								<span class="text-work-info">Saúde > Farmácia</span>
							</p>
						</div>
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<a href="perfil.html" class="work"  style="/*background-image: url(images/portfolio-1.jpg);*/">
						<div class="desc">
							<h4 class="see-all-info"> <i class="icon-plus"></i> Mais informações</h4>
						</div>
						<div class="icon-work">
							<img src="images/portfolio-6.jpg">
						</div>
						<div class="info-work">
							<h4>Drogaria Santo Antonio</h4>
							<p>
								<span class="icon-work-info"><i class="icon-location"></i></span>
								<span class="text-work-info">Av. Dr. Januário Miraglia, 998 - Abernéssia, Campos do Jordão - SP</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-phone-hang-up"></i></span>
								<span class="text-work-info">(12) 3664-0000</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-bookmark"></i></span>
								<span class="text-work-info">Saúde > Farmácia</span>
							</p>
						</div>

					</a>
				</div>
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<a href="perfil.html" class="work"  style="/*background-image: url(images/portfolio-1.jpg);*/">
						<div class="desc">
							<h4 class="see-all-info"> <i class="icon-plus"></i> Mais informações</h4>
						</div>
						<div class="icon-work">
							<img src="images/portfolio-6.jpg">
						</div>
						<div class="info-work">
							<h4>Drogaria Santo Antonio</h4>
							<p>
								<span class="icon-work-info"><i class="icon-location"></i></span>
								<span class="text-work-info">Av. Dr. Januário Miraglia, 998 - Abernéssia, Campos do Jordão - SP</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-phone-hang-up"></i></span>
								<span class="text-work-info">(12) 3664-0000</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-bookmark"></i></span>
								<span class="text-work-info">Saúde > Farmácia</span>
							</p>
						</div>
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<a href="perfil.html" class="work"  style="/*background-image: url(images/portfolio-1.jpg);*/">
						<div class="desc">
							<h4 class="see-all-info"> <i class="icon-plus"></i> Mais informações</h4>
						</div>
						<div class="icon-work">
							<img src="images/portfolio-6.jpg">
						</div>
						<div class="info-work">
							<h4>Drogaria Santo Antonio</h4>
							<p>
								<span class="icon-work-info"><i class="icon-location"></i></span>
								<span class="text-work-info">Av. Dr. Januário Miraglia, 998 - Abernéssia, Campos do Jordão - SP</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-phone-hang-up"></i></span>
								<span class="text-work-info">(12) 3664-0000</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-bookmark"></i></span>
								<span class="text-work-info">Saúde > Farmácia</span>
							</p>
						</div>
						
					</a>
				</div>
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<a href="perfil.html" class="work"  style="/*background-image: url(images/portfolio-1.jpg);*/">
						<div class="desc">
							<h4 class="see-all-info"> <i class="icon-plus"></i> Mais informações</h4>
						</div>
						<div class="icon-work">
							<img src="images/portfolio-6.jpg">
						</div>
						<div class="info-work">
							<h4>Drogaria Santo Antonio</h4>
							<p>
								<span class="icon-work-info"><i class="icon-location"></i></span>
								<span class="text-work-info">Av. Dr. Januário Miraglia, 998 - Abernéssia, Campos do Jordão - SP</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-phone-hang-up"></i></span>
								<span class="text-work-info">(12) 3664-0000</span>
							</p>
							<p>
								<span class="icon-work-info"><i class="icon-bookmark"></i></span>
								<span class="text-work-info">Saúde > Farmácia</span>
							</p>
						</div>

					</a>
				</div>

			</div>
			<div class="row animate-box">
				<div class="col-md-12">
					<a href="categoria.html" class="see-all-cat">Ver todas as categorias</a>
				</div>
			</div>
		</div>

		<div id="fh5co-services">
			<div class="row">
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-earth"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Completo</a></h3>
							<p>Aqui você encontra todas as empresas de Campos do Jordão em um só lugar.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-clipboard"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Informações</a></h3>
							<p>Veja todas as informações essenciais sobre as empresas.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-star-full"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Visual</a></h3>
							<p>Visual moderno de fácil navegação</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END container-wrap -->

	<div class="container-wrap">
		<footer id="fh5co-footer" role="contentinfo">
			<div class="row">
				<div class="col-md-6 fh5co-widget">
					<h4>Sobre Lista Campos</h4>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				</div>
				<div class="col-md-6">
					<h4>Contato</h4>
					<ul class="fh5co-footer-links">
						<li>Rua Joao das coves, Sala 206, edificio wall</li>
						<li><a href="tel://1234567920">(12) 3663-9900</a></li>
						<li><a href="mailto:info@yoursite.com">contato@listacampos.com.br</a></li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2017 Lista Campos. All Rights Reserved.</small> 
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook2"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</footer>
	</div><!-- END container-wrap -->
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

