<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lista Campos do Jordão</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Lista de empresas e comércios em Campos do Jordão" />
	<meta name="keywords" content="lista de empresas, campos do jordão, lista telefonica" />
	<meta name="author" content="freehtml5.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icons Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">
	<link rel="stylesheet" href="css/jquery.bxslider.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container-wrap">
			<div class="top-menu">
				<div class="row">
					<div class="col-xs-12">
						<div id="fh5co-logo">
							<a href="index.html">Lista Campos</a>
						</div>
					</div>
					<div class="col-xs-12 text-center">
						<div class="col-xs-12">
							<div class="form-group wpr-search">
								<input type="text" class="form-control search-input" placeholder="Digite aqui empresas, produtos ou serviços">
								<a href="#" title="pesquisar" class="search-bar"> 
									<span class="icon-search"></span> &nbsp;  Pesquisar  
								</a>
							</div>
						</div>
					</div>
					<div class="col-xs-12 h-30"></div>
					<div class="col-xs-12 text-center menu-1">
						<ul>
							<li class="active"><a href="index.html">Início</a></li>
							<li class="has-dropdown">
								<a href="#">Alimentos</a>
								<ul class="dropdown">
									<li><a href="#">Açougue</a></li>
									<li><a href="#">Padaria</a></li>
									<li><a href="#">Mercado</a></li>
									<li><a href="#">Restaurantes</a></li>
									<li><a href="#">Pizzaria</a></li>
									<li><a href="#">Ver todos</a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="#">Compras</a>
								<ul class="dropdown">
									<li><a href="#">Brinquedos</a></li>
									<li><a href="#">Calçados</a></li>
									<li><a href="#">Jóias</a></li>
									<li><a href="#">Roupas</a></li>
									<li><a href="#">Ver todos</a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="#">Educação</a>
								<ul class="dropdown">
									<li><a href="#">Infantil</a></li>
									<li><a href="#">Fundamental</a></li>
									<li><a href="#">Ensino Médio</a></li>
									<li><a href="#">Universidades</a></li>
									<li><a href="#">idiomas</a></li>
									<li><a href="#">Ver todos</a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="#">Saúde</a>
								<ul class="dropdown">
									<li><a href="#">Posto de saúde</a></li>
									<li><a href="#">Hospital</a></li>
									<li><a href="#">Médico</a></li>
									<li><a href="#">Dentista</a></li>
									<li><a href="#">Farmácia</a></li>
									<li><a href="#">Ver todos</a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="#">Veículos</a>
								<ul class="dropdown">
									<li><a href="#">Acessórios</a></li>
									<li><a href="#">Auto elétrica</a></li>
									<li><a href="#">Borracharia</a></li>
									<li><a href="#">Mecânicas</a></li>
									<li><a href="#">Ver todos</a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="#">Utilidade pública</a>
								<ul class="dropdown">
									<li><a href="#">Associações</a></li>
									<li><a href="#">Bancos</a></li>
									<li><a href="#">Prefeitura</a></li>
									<li><a href="#">Transporte público</a></li>
									<li><a href="#">Ver todos</a></li>
								</ul>
							</li>
							<li><a href="contato.html">Contato</a></li>
						</ul>
					</div>
					<div class="col-xs-12 h-30"></div>
				</div>
				
			</div>
		</div>
	</nav>
	<div class="container-wrap">
		
		<div id="fh5co-blog">
			<div class="row">
				<div class="col-md-8 col-sm-12">
					<h1>Drogaria Santo Antonio</h1>
								
		            <div class="row">
		            	<div class="col-md-12">
		            		<div class="col-md-6 col-sm-12">
		            			<h2 class="h-subtitulo">CONTATO</h2>
		            			<h4><span class="icon-wrp"><i class="icon-phone-hang-up"></i></span> <a href="tel://" class="a-icon">(12)3663-1010</h4>
		            			<h4><span class="icon-wrp"><i class="icon-whatsapp"></i></span> <a href="tel://" class="a-icon">(12)9999-8888</h4>
		            			<h4><span class="icon-wrp"><i class="icon-envelop"></i></span> <a href="mailto" class="a-icon" target="_blank">contato@email.com.br</h4>
		            		</div>
		            		<div class="col-md-6 col-sm-6">
		            			<h2 class="h-subtitulo">REDES SOCIAIS</h2>
		            			<h4><span class="icon-wrp"><i class="icon-facebook2"></i></span> <a href="#" class="a-icon" target="_blank">facebook.com/pagina</a></h4>
		            			<h4><span class="icon-wrp"><i class="icon-instagram"></i></span> <a href="#" class="a-icon" target="_blank">instagram.com/usuario</a></h4>
		            			<h4><span class="icon-wrp"><i class="icon-earth"></i></span> <a href="#" class="a-icon" target="_blank">www.email.com.br</a></h4>
		            		</div>
		            		<div class="h-30"></div>
		            		<div class="col-md-12  animate-box">
							<div class="col-md-12">
			            		<h2 class="h-subtitulo">ENDEREÇO</h2>
			            		<h4>Av. Joao das coves, N 990. Sala 200. Bairro Floral. Jundai - SP</h4>
			            		<div class="h-30"></div>
			            	</div>
		            	
				</div>
		            	</div>

		            </div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="col-md-12 col-sm-6 animate-box">
						<h3 class="text-center">Horário de funcionamento</h3>
						<ul class="hr-func">
							<li><p class="p-hr-func"><span>Segunda-feira:</span><i>10h00 às 22h00</i></p></li>
							<li><p class="p-hr-func"><span>Terça-feira:</span><i>10h00 às 22h00</i></p></li>
							<li><p class="p-hr-func"><span>Quarta-feira:</span><i>10h00 às 22h00</i></p></li>
							<li><p class="p-hr-func"><span>Quinta-feira:</span><i> 10h00 às 22h00</i></p></li>
							<li><p class="p-hr-func"><span>Sexta-feira:</span><i>10h00 às 22h00</i></p></li>
							<li><p class="p-hr-func"><span>Sábado:</span><i>10h00 às 22h00</i></p></li>
							<li><p class="p-hr-func"><span>Domingo:</span><i>10h00 às 22h00</i></p></li>
						</ul>
					</div>
					<div class="col-md-12 col-sm-12  animate-box">
						<div class="h-20"></div>
						<h3 class="text-center">Hashtag</h3>
						<ul class="hr-func colsm-4">
							<li class="text-center"><span>#Titulo</span></li>
							<li class="text-center"><span>#Titulo2</span></li>
							<li class="text-center"><span>#Titulo3</span></li>
							<li class="text-center"><span>#Titulo3</span></li>
							<li class="text-center"><span>#Titulo3</span></li>
						</ul>
						<div class="h-30"></div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="banner-container"></div>
				</div>

			</div>
		</div>
	</div><!-- END container-wrap -->

	<div class="container-wrap">
		<footer id="fh5co-footer" role="contentinfo">
			<div class="row">
				<div class="col-md-6 fh5co-widget">
					<h4>Sobre Lista Campos</h4>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				</div>
				<div class="col-md-6">
					<h4>Contato</h4>
					<ul class="fh5co-footer-links">
						<li>Rua Joao das coves, Sala 206, edificio wall</li>
						<li><a href="tel://1234567920">(12) 3663-9900</a></li>
						<li><a href="mailto:info@yoursite.com">contato@listacampos.com.br</a></li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2017 Lista Campos. All Rights Reserved.</small> 
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook2"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</footer>
	</div><!-- END container-wrap -->
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
	<script src="js/jquery.bxslider.js"></script>
    <script>
        $(document).ready(function(){
            $('.slider').bxSlider();
        });
    </script>

	</body>
</html>

